
client/# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/.DS_Store
client/dist
client/dist-ssr
client/coverage
client/*.local

client/cypress/videos/
client/cypress/screenshots/

client/# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?



server/# Logs
server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/pnpm-debug.log*
server/lerna-debug.log*

server/node_modules
server/.DS_Store
server/dist
server/dist-ssr
server/coverage
server/*.local

server/cypress/videos/
server/cypress/screenshots/

server/# Editor directories and files
server/.vscode/*
server/!.vscode/extensions.json
server/.idea
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
server/*.sw?





